version: '3.8'

services:
  backend:
    build: ./backend
    container_name: arqserv_backend
    env_file:
      - ./backend/.env
    environment:
      NODE_ENV: development
      PORT: 3005
    ports:
      - "3005:3005"
    volumes:
      - ./backend/src:/app/src
      - ./backend/package.json:/app/package.json
      - ./backend/package-lock.json:/app/package-lock.json
      - backend_node_modules:/app/node_modules
      - uploads_data:/app/uploads
      - ./backend/credentials:/app/credentials
    restart: unless-stopped
    networks:
      - arqserv_network

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: arqserv_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@arqserv.com
      PGADMIN_DEFAULT_PASSWORD: arqserv123
    ports:
      - "8080:80"
    networks:
      - arqserv_network

volumes:
  backend_node_modules:
  uploads_data:

networks:
  arqserv_network:
    driver: bridge